:root{
    
    /* Facety variables */
    --ft-background-color-main: #8c17f3;

    /* Bootstrap variables */
    --bs-blue: #4c9be8;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #e83e8c;
    --bs-red: #d9534f;
    --bs-orange: #f0ad4e;
    --bs-yellow: #ffc107;
    --bs-green: #5cb85c;
    --bs-teal: #20c997;
    --bs-cyan: #5bc0de;
    --bs-white: #fff;
    --bs-gray: #868e96;
    --bs-gray-dark: #343a40;
    --bs-gray-100:#ebebeb;
    --bs-gray-200:#4e5d6c;
    --bs-gray-300:#dee2e6;
    --bs-gray-400:#ced4da;
    --bs-gray-500:#adb5bd;
    --bs-gray-600:#868e96;
    --bs-gray-700:#495057;
    --bs-gray-800:#343a40;
    --bs-gray-900:#212529;
    --bs-primary: #4c9be8;
    --bs-secondary: #4e5d6c;
    --bs-success: #5cb85c;
    --bs-info: #5bc0de;
    --bs-warning: #ffc107;
    --bs-danger: #d9534f;
    --bs-light: #abb6c2;
    --bs-dark: #20374c;
    --bs-primary-rgb: 76, 155, 232;
    --bs-secondary-rgb: 78, 93, 108;
    --bs-success-rgb: 92, 184, 92;
    --bs-info-rgb: 91, 192, 222;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 217, 83, 79;
    --bs-light-rgb: 170.516129, 182.25, 193.983871;
    --bs-dark-rgb: 32, 55, 76;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 235, 235, 235;
    --bs-body-bg-rgb: 15, 37, 55;
    --bs-font-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #ebebeb;
    --bs-body-bg: var(--ft-background-color-main);

}
