.md-nav__list{
    font-size: 1.5em !important;
}

.md-nav__title{
    display: none !important;
}

a.md-tabs__link--active{
    font-weight: bold;
}

h0.doc-heading {
    font-size: 1.4em !important;
}

.bmc-btn-text{
    color: #ffffff !important;
}

.md-header__inner .md-logo {
    margin: 0px !important;
    padding: 0px !important;
}

.md-header__inner .md-logo > img {
    height: 42px !important;
    width: 42px !important;
}

footer.md-footer div.md-footer {
    background-color: #313b50;
    box-shadow: 0px -1px 5px 0px #fcc107;
}

footer.md-footer, footer.md-footer nav {
    background-color: #313b50;
}